<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../assets/vincerla.css">
	<meta charset="utf-8" />
	<meta name="description" content="Moba games giveaway. Dota2 items and cs go skins giveaway." />
	<meta name="keywords" content="Dota 2, cs go,giveaway,win,vincerla, steam, valve" />
	<meta name="robots" content="nofollow" />
	<meta http-equiv="author" content="Arjun Sankhala">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="Tue, 04s Apr 2050 23:59:59 GMT" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../../assets/logo.ico" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8090927166121699",
        enable_page_level_ads: true
        });
    </script>

  <!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Aldrich|Artifika|Indie+Flower|Lobster|Pacifico|Gloria+Hallelujah|Bad+Script|Patrick+Hand|Playball|Gentium+Book+Basic|Frijole|Cabin+Sketch|Milonga|Bungee+Shade|Monofett|Bree+Serif|Crete+Round" rel="stylesheet">
</head>
<body>

<div class="container-fluid heading">
  <h1 class="display-2"><a class="heading" href="/">Vincerla</a></h1>
</div>

{{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
{{{body}}}


<br>
<br>
<hr>
<div class="container-fluid col">
<div class="bot"><h2 class="display-5">Vincerla</h2></div>
	<div class="row foot">
		<div class="col-sm-4 f">
			       <table class="table-hover ">
                <tr><th class="h">Informations</th></tr>
                <tr><td class="h stu tu">Find Your Steam Trade Url</td></tr>
                <tr><td class="h"><a class="h" href="/users/pick">Picking The Winner</a></td></tr>
      
             </table>
		</div>

		<div class="col-sm-4 f">
			   <table class="table-hover">
                <tr><th class="h">About Vincerla</th></tr>
                <tr><td class="h"><a class="h" href="/users/contact">Contacy us</a></td></tr>
                <tr><td class="h"><a class="h" href="/users/submit">Submit Your Query</a></td></tr>
                 <tr><td class="h"><a class="h" href="/users/tac">Terms And Conditions</a></td></tr>
             </table>
		</div>

    <div class="col-sm-4 f">
         <table class="table-hover">
                <tr><th class="h">Follow us on-</th></tr>
                <tr><td class="h stu Facebook">Facebook</td></tr>
                <tr><td class="h stu Youtube">Youtube</td></tr>
                <tr><td class="h stu Twitter">Twitter</td></tr>
                <tr><td class="h stu Twitch">Twitch</td></tr>
                <tr><td class="h stu Instagram">Instagram</td></tr>
             </table>
    </div>
	</div>
  
</div>
<div class="foot_t"><br><span class="v">2017&copy;Vincerla </span><a href="/users/tac">Terms And Conditions</a><span class="secret">41726a756e2053616e6b68616c61</span>
</div>


<script type="text/javascript" src="../../assets/jquery-3.2.1.js"></script> <!--important-->
<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> ALREADY INCLUDED-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../../assets/stu.js"></script>
</body>
</html>