<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../assets/vincerla.css">
	<meta charset="utf-8" />
	<meta name="description" content="Moba games giveaway. Dota2 items and cs go skins giveaway." />
	<meta name="keywords" content="Dota 2, cs go,giveaway,win,vincerla, steam, valve" />
	<meta name="robots" content="nofollow" />
	<meta http-equiv="author" content="Arjun Sankhala">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="Tue, 04s Apr 2050 23:59:59 GMT" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid heading">
  <h1 class="display-2">Vincerla</h1>
</div>


<br>

<ul class="nav nav-pills nav-justified justify-content-center">
  	<li class="nav-item">
    	<a class="nav-link " href="#">Home</a>
  	</li>
 	<li class="nav-item">
    	<a class="nav-link " href="#">Winners</a>
  	</li>
  	<li class="nav-item ">
    	<a class="nav-link " href="#">Screenshot Compitetion</a>
  	</li>
  	<li class="nav-item dropdown ">
    	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello,Click here</a>
    		<div class="dropdown-menu">
      			<a class="dropdown-item active" href="#">Login</a>
     			 <div class="dropdown-divider"></div>
     			 <div class="dropdown-divider"></div>
      			<a class="dropdown-item " href="#">Register</a>
    		</div>
  	</li>
</ul>
 <div class="dropdown-divider" style="background-color: #000000;"></div>
<br>
<div class="major_giv"><h3>Account Login</h3></div>
<br>


<form method="post" action="" class="login container">
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <input type="email" class="form-control col-sm-10" placeholder="Email" name="email">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <input type="password" class="form-control col-sm-10" placeholder="Password" name="password">
  </div>
  <center><button type="submit" class="btn btnnnn btn-primary">Login</button></center>
</form>


<br><br><br>

<div class="container-fluid col">
<div class="major_giv"><h2 class="display-5">Vincerla</h1></div>
	<div class="row foot">
		<div class="col-sm-4 f">
			       <table class="table-hover ">
                <tr><th>Informations</th></tr>
                <tr><td>Find Your Steam Trade Url</td></tr>
                <tr><td>Picking The Winner</td></tr>
                <tr><td>FAQ's</td></tr>
             </table>
		</div>

		<div class="col-sm-4 f">
			   <table class="table-hover">
                <tr><th>About Vincerla</th></tr>
                <tr><td>Contacy us</td></tr>
                <tr><td>Submit Your Query</td></tr>
                 <tr><td>Terms And Conditions</td></tr>
             </table>
		</div>

    <div class="col-sm-4 f">
         <table class="table-hover">
                <tr><th>Follow us on-</th></tr>
                <tr><td>Facebook</td></tr>
                <tr><td>Youtube</td></tr>
                <tr><td>Twitter</td></tr>
                <tr><td>Twitch</td></tr>
                <tr><td>Instagram</td></tr>
             </table>
    </div>
	</div>
  2017&copy;Vincerla <a href="">Terms And Conditions</a>
</div>


<script type="text/javascript" src="../../assets/jquery-3.2.1.js"></script> <!--important-->
<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> ALREADY INCLUDED-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>